
.main__date {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    gap: 30px;
    margin: 10px 0;
  }
  
  .main__date .date {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 24px;
    padding: 12px;
    border-radius: 5px;
    background: #ffffff;
    box-shadow: 5px 5px 13px #ededed, -5px -5px 13px #ffffff;
    flex: 1 1;
    font-size: 24px;
  }
  
  .main__date .narrow {
    font-size: 30px;
    color: #000000;
  }
  